# Ejercicios con `pandas`

Importe las librerías necesarias:

In [190]:
import pandas as pd

Imprima las versiones de todas la librerías

In [191]:
print(pd.__version__)

1.2.4

Importe los datos desde [aqui](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). Asígnelos a una variable `chipo`.

In [192]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

Muestre las primeras 10 entradas del dataframe

In [193]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Cual es el número total de observaciones en el dataset?

In [194]:
len(chipo)

4622

In [195]:
# solucion 2

Cuantas columnas hay en el dataset? Copielas a una lista.

In [196]:
len(chipo.columns)

5

In [197]:
L=list(chipo.columns)

Imprima el nombre de las columnas

In [198]:
for i in L:
    print(i)

order_id
quantity
item_name
choice_description
item_price

Como está indexado el dataset?

In [199]:
## ?????

Cual fue el objeto más pedido?

In [200]:
chipo.iloc[:,3]

0                                                     NaN
1                                            [Clementine]
2                                                 [Apple]
3                                                     NaN
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

Para el objeto más pedido, cuantos fueron?

In [201]:
tab=pd.crosstab(index=chipo['item_name'],columns='frecuencia')
tab.nlargest(1,'frecuencia')

col_0         frecuencia
item_name
Chicken Bowl         726

Cual fue el item más pedido en la columna `choice_description`?

In [202]:
tab2=pd.crosstab(index=chipo['choice_description'],columns='frecuencia')
tab2.nlargest(1,'frecuencia')

col_0               frecuencia
choice_description
[Diet Coke]                134

Cuantos items fueron pedidos en total?

In [203]:
chipo['quantity'].sum()

4972

Convierte el precio en un `float`

In [204]:
chipo['item_price'] = chipo['item_price'].str[1:]
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [205]:
chipo['item_price'] = chipo['item_price'].astype(float)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [206]:
type(chipo['item_price'])

pandas.core.series.Series

Cuanto fue la ganancia total en el periodo del dataset?

In [208]:
chipo['item_price'].sum()

34500.16

Cúantos pedidos se hicieron?

In [211]:
len(chipo['order_id'].unique())

1834

Cual fue el promedio de ganancia por orden?

In [213]:
chipo['item_price'].sum()/len(chipo['order_id'].unique())

18.811428571428575

Cuántos items se vendieron en total?

In [212]:
chipo['quantity'].sum()

4972